<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form [formGroup]="form" (submit)="onSavePost()" *ngIf="!isLoading">
    <mat-form-field>
      <input
      matInput
      type="text"
      formControlName="title"
      placeholder=" Post title">
      <mat-error *ngIf="form.get('title').invalid">Please enter a post title!</mat-error>
    </mat-form-field>
    <div>
      <button mat-stroked-button type="button" (click)="fileClicker.click()">Pick Image</button>
      <input type="file" #fileClicker (change)="onImagePicked($event)">
    </div>
    <div class="image=preview" *ngIf="imagePreview!=='' && imagePreview && form.get('image').valid">
      <img [src]="imagePreview" [alt]="form.value.title">

    </div>

    <mat-form-field>
      <textarea
      matInput
      rows="4"
      formControlName="content"
      placeholder="Post content">
      </textarea>
    <mat-error *ngIf="form.get('content').invalid">Please enter a content!</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit">Save Post</button>
  </form>
</mat-card>

<!--When Angular dectects the form element and it has the FormsModule included in the project, it will
automatically create a javascript object behind the scenes which represents this form so to speak. with this
object we can easily register inputs as controls and keep track and record the values of them. We can add validation to the
form, submit the form and use the value of the form-->

<!--the #postForm give us access to the Angular form object-->

<!--#title grants access to the data maganed by the input. it's the form control behind the scenes-->


<!--we need to prepopulate the form with the values of the post in order to edit it. we have to do one-way binding and we have to informe
angular of the default values we want to use. that's why the [ngModel] is in parenthesis-->
