<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      ngModel
      required
      minlength="3"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a post title!</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="4"
      name="content"
      ngModel
      required
      #content="ngModel">
      </textarea>
    <mat-error *ngIf="content.invalid">Please enter a content!</mat-error>
    </mat-form-field>
    <button
    mat-raised-button
    color="primary"
    type="submit">Save Post</button>
  </form>
</mat-card>

<!--When Angular dectects the form element and it has the FormsModule included in the project, it will
automatically create a javascript object behind the scenes which represents this form so to speak. with this
object we can easily register inputs as controls and keep track and record the values of them. We can add validation to the
form, submit the form and use the value of the form-->

<!--the #postForm give us access to the Angular form object-->

<!--#title grants access to the data maganed by the input. it's the form control behind the scenes-->
